.mapText {
  @include radius(10px 10px 0px 0px);
}
.max-width-icon-leaf{
  max-width: 50px;
}
.max-width-icon-car{
  max-width: 50px;
}
.border-car-transparent{
  border: 3px solid transparent;
}
.border-car-gold{
   border: 3px solid $goldColor;
 }
